# Libraries

In [6]:
import pandas as pd
pd.set_option('display.max_columns', None)

from foundation import *

# Obj test

In [14]:
df = pd.read_excel("assets/template_5_fundacoes_3_combinacoes.xlsx") # Prof. Wanderlei
n_comb = 1
f_ck = 25000
h_z = 0.60

In [15]:
df

,Elemento,ap (m),bp (m),spt,solo,xg (m),yg (m),Fz-c1,Mx-c1,My-c1,Fz-c2,Mx-c2,My-c2,Fz-c3,Mx-c3,My-c3
0,P01,0.6,0.4,25,argila,0,0,1144,280,190,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# x = 0.60 e 10.0
fun = [1.6, 1.4]
of, df_novo = obj_teste(fun, args=(df, n_comb, f_ck, h_z))
of

2666349.558285715

In [17]:
df_novo

,Elemento,ap (m),bp (m),spt,solo,xg (m),yg (m),Fz-c1,Mx-c1,My-c1,Fz-c2,Mx-c2,My-c2,Fz-c3,Mx-c3,My-c3,h_x (m),h_y (m),h_z (m),volume (m3),x1,y1,x2,y2,x3,y3,x4,y4,g sobreposicao,tensao adm. (kPa),tau_sd2 - c1,tau_rd2 - c1,u_rd2 - c1,g_rd2 - c1,k_e - c1,g_ed - c1,tau_rd1 - c1,u_rd1 - c1,kx - c1,ky - c1,w_px - c1,w_py - c1,tau_sd1 - c1,g_rd1 - c1,g punção secao C,g escala punção,g punção secao Clinha,tensao max. (kPa) - c1,tensao min. (kPa) - c1,g tensao max. - c1,g tensao min. - c1,g tensao - c1,g tensao,g geometria x,g geometria y,g geometria,volume final (m3)
0,P01,0.6,0.4,25,argila,0,0,1144,280,190,NaN,NaN,NaN,NaN,NaN,NaN,1.6,1.4,0.6,1.344,-0.8,-0.7,0.8,-0.7,0.8,0.7,-0.8,0.7,0.0,500.0,1392.695652,4339.285714,2.0,-0.67905,1.589768,-0.205116,482.814662,9.225663,0.65,0.5,8.797699,8.435133,379.708179,-0.213553,-0.67905,-0.205116,-0.213553,1410.133929,-337.633929,2.666348,0.675268,2.666348,2.666348,-1.1,-1.1,-1.1,2.666350e+06